@import 'global';

#message-template-panel {
  #message-template-panel-selector,
  #message-template-panel-message {
    margin-top: $large-margin;
  }

  #message-template-actions {
    text-align: right;
    margin-top: $small-margin;

    #message-template-delete-button {
      margin-right: $medium-margin;
    }
  }
}