@import 'global';

#message-template-panel-selector,
#message-template-panel-message {
  input { margin: $large-margin 0; }
}

#message-template-actions {
  text-align: right;
  margin-top: $small-margin;

  #message-template-delete-button {
    margin-right: $medium-margin;
  }
}
