@import 'global';

#gig-applications-panel {
  padding: 0 $medium-padding;

  #gig-applications-list {
    flex: 1 1 auto;
    overflow: auto;
  }
}

// mobile view
@media (min-width: 0) {
  #no-gig-applications-message { color: $off-black; }
}

// desktop view
@media (min-width: 850px) {
  #no-gig-applications-message { color: $off-white; }
}
