@import 'global';

#find-gig-details-modal-header {
  width: 100%;

  #primary-header {
    @include centered-flex-box;
    margin-left: 0;
    width: 100%;

    #gig-details-title,
    #gig-details-employer {
      @include hide-overflow-ellipsis;
    }

    #favorite-gig-button-container { margin-left: auto; }
  }
}

// tablet view
@media (min-width: 450px) {
  #find-gig-details-modal-header {
    #gig-details-title { font-size: 1.75rem; }
    #sub-header { font-size: $header-font-size; }
  }
}
