@import 'global';

#gig-details-modal-details-panel {
  .detail-row-flex-container {
    @include centered-flex-box;

    div {
      &:nth-child(1) { margin-right: $medium-margin; }
    }
  }

  #benefits-list,
  #requirements-list { margin-bottom: 0; }
  .details { padding-left: $large-padding; }
}
