@import 'global';

#application-modal-body {
  hr {
    border-top: 1px solid $off-black;
    margin: -8px 0 0 0;
  }

  #application-panel-container {
    border: 1px solid $light-grey;
    border-top: none;
    border-radius: 0 0 $small-border-radius $small-border-radius;
    max-height: 42vh;
    overflow-y: auto;
    padding: $medium-padding;
  }
}
