button {
  box-shadow: none !important;
  font-family: $paragraph-font-family;
}

.primary-blue-gig-button {
  background: $primary-blue;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 10px 20px;

  &:hover {
    background: $secondary-blue;
  }
}

.primary-blue-text-gig-button {
  background: transparent;
  border: none;
  color: $primary-blue;
  padding: 0;

  &:hover {
    color: $secondary-blue;
  }
}

.nav-text-button {
  background-color: transparent;
  border: none;
  color: $off-black;
  display: inline-block;

  &.active {
    border-bottom: 6px solid $primary-blue;
    border-radius: 0;
    padding-bottom: 0;
  }
}
