button {
  box-shadow: none !important;
  font-family: $paragraph-font-family;
}

.primary-blue-gig-button {
  background: $primary-blue;
  border: none;
  border-radius: 8px;
  color: $white;
  padding: 10px 20px;

  &:hover {
    background: $secondary-blue;
  }

  &:active,
  &:focus {
    background: $primary-blue;
  }
}

.secondary-blue-gig-button {
  background: $secondary-blue;
  border: none;
  border-radius: 8px;
  color: $white;
  padding: 10px 20px;

  &:hover {
    background: $grey;
  }
}

.primary-blue-text-gig-button {
  background: transparent;
  border: none;
  color: $primary-blue;
  padding: 0;

  &:hover {
    color: $secondary-blue;
  }
}

button.text-button {
  background-color: transparent !important;
  border: none;
  color: $off-black;
  display: inline-block;

  &:hover {
    color: $dark-grey;
  }

  &.active {
    border-bottom: 6px solid $primary-blue;
    border-radius: 0;
    padding-bottom: 0;
  }
}

.red-icon {
  color: $primary-red;
}
