@import 'styles/variables/variables';

.gig-form-input {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  padding: 0.375rem 0.75rem;
  width: 100%;

  &.off-white { background-color: $off-white; }
}

.searchable-gig-input {
  position: relative;
  width: 100%;

  input {
    margin: 0;
    width: 100%;
  }

  ul { width: 100%; }

  .focused { border-radius: 5px 5px 0 0; }

  .filter-options-list {
    background-color: $off-white;
    border-radius: 0 0 5px 5px;
    color: $off-black;
    list-style-type: none;
    max-height: 125px;
    overflow-y: auto;
    padding-left: $medium-padding;
    position: absolute;
    width: 100%;
    z-index: 2;
    .best-match { font-weight: bold; }
  }

  &.white {
    input, ul { background-color: $white; }
  }

  &.off-white {
    input, ul { background-color: $off-white; }
  }
}
