@import 'styles/variables/variables';

@mixin vertically-centered-inline-flex-box {
  align-items: center;
  display: inline-flex;
}

@mixin hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-container {
  box-sizing: border-box;
  display: grid;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

// mobile view
@media (min-width: $min-mobile-width) {
  .page-container {
    grid-template-columns: [center-start] 1fr [center-end];
    grid-template-rows: [header-start] $header-height [header-end center-start] 1fr [center-end];

    #header {
      grid-column: center-start / center-end;
      grid-row: header-start / header-end;
    }

    #center-panel {
      display: flex;
      flex-direction: column;
      grid-column: center-start / center-end;
      grid-row: center-start / center-end;
    }

    #right-panel {
      display: none;
    }
  }
}

// desktop view
@media (min-width: $min-desktop-width) {
  .page-container {
    grid-template-columns: [center-start] 1fr [center-end right-start] $right-sidebar-width [right-end];
    grid-template-rows: [header-start] $header-height [header-end center-start] 1fr [center-end];

    #header {
      grid-column: center-start / center-end;
      grid-row: header-start / header-end;
    }

    #center-panel {
      display: flex;
      flex-direction: column;
      grid-column: center-start / center-end;
      grid-row: center-start / center-end;
    }

    #right-panel {
      display: inline-block;
      grid-column: right-start / right-end;
      grid-row: header-start / center-end;
    }
  }
}
