@import 'styles/variables/variables';

@mixin vertically-centered-inline-flex-box {
  align-items: center;
  display: inline-flex;
}

@mixin hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#page-container {
  display: grid;
  height: 100vh;
  width: 100vw;
}

// mobile view
@media (min-width: 0) {
  #page-container {
    grid-template-columns: [center-start] 1fr [center-end];
    grid-template-rows: [header-start] $header-height [header-end center-start] 1fr [center-end];

    #header {
      grid-column: center-start / center-end;
      grid-row: header-start / header-end;
    }

    #center-panel {
      grid-column: center-start / center-end;
      grid-row: center-start / center-end;
    }

    #right-panel {
      display: none;
    }
  }
}

// desktop view
@media (min-width: 850px) {
  #page-container {
    grid-template-columns: [center-start] 1fr [center-end right-start] 350px [right-end];
    grid-template-rows: [header-start] $header-height [header-end center-start] 1fr [center-end];

    #header {
      grid-column: center-start / center-end;
      grid-row: header-start / header-end;
    }

    #center-panel {
      grid-column: center-start / center-end;
      grid-row: center-start / center-end;
    }

    #right-panel {
      display: inline-block;
      grid-column: right-start / right-end;
      grid-row: header-start / center-end;
    }
  }
}
