.title-text {
  cursor: default;
  font-size: $title-font-size;
  user-select: none;
}

.header-text {
  cursor: default;
  font-size: $header-font-size;
  user-select: none;
}

.sub-header-text {
  cursor: default;
  font-size: $sub-header-font-size;
  user-select: none;
}

.paragraph-text {
  cursor: default;
  font-size: $paragraph-font-size;
  user-select: none;
}
