@mixin prevent-highlight {
  cursor: default;
  user-select: none;
}

@mixin thick-font-family {
  font-family: $header-font-family;
  font-weight: 800;
}

.large-title-text {
  @include prevent-highlight;
  @include thick-font-family;
  font-size: $large-title-font-size;
}

.title-text {
  @include prevent-highlight;
  @include thick-font-family;
  font-size: $title-font-size;
}

.header-text {
  @include prevent-highlight;
  font-size: $header-font-size;
}

.sub-header-text {
  @include prevent-highlight;
  font-size: $sub-header-font-size;
}

.paragraph-text {
  @include prevent-highlight;
  font-size: $paragraph-font-size;
}
