@mixin prevent-highlight {
  cursor: default;
  user-select: none;
}

.thick { font-family: $sub-header-font-family; }
.bold { font-family: $header-font-family; }

.large-title-text {
  @include prevent-highlight;
  font-size: $large-title-font-size;
}

.title-text {
  @include prevent-highlight;
  font-size: $title-font-size;
}

.sub-title-text {
  @include prevent-highlight;
  font-size: $sub-title-font-size;
}

.small-title-text {
  @include prevent-highlight;
  font-size: $small-title-font-size;
}

.large-header-text {
  @include prevent-highlight;
  font-size: $large-header-font-size;
}

.header-text {
  @include prevent-highlight;
  font-size: $header-font-size;
}

.sub-header-text {
  @include prevent-highlight;
  font-size: $sub-header-font-size;
}

.paragraph-text {
  @include prevent-highlight;
  font-size: $paragraph-font-size;
}

.text {
  &.white { color: $white; }
  &.off-white { color: $off-white; }
  &.off-black { color: $off-black; }
}
