@import 'global';

.searchable-gig-input {
  input {
    margin-bottom: 0;
  }

  .focused {
    border-radius: 5px 5px 0 0;
  }

  .filter-options-list {
    background-color: $off-white;
    border-radius: 0 0 5px 5px;
    color: $off-black;
    list-style-type: none;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    padding-left: 12px;
    position: absolute;

    .best-match {
      font-weight: bold;
    }
  }
}

// mobile view
@media (min-width: 0) {
  .filter-options-list {
    margin: 0 10px !important;
    width: calc(92% - 3px);
  }
}

// desktop view
@media (min-width: 850px) {
  .filter-options-list {
    width: 320px;
  }
}
