@import 'global';

#header {
  border-bottom: 1px solid $light-grey;
  margin: 0 3%;

  #header-title {
    display: inline-block;
    height: 100%;
    padding-left: $medium-padding;

    #header-title-icon {
      display: inline-block;
      height: ($header-height - 20px);
    }

    #header-title-text {
      color: $primary-blue;
      line-height: $header-height;
    }
  }

  #header-message {
    float: right;
    line-height: $header-height;
    padding: $medium-padding 0 0 0;

    .header.icon-button { margin: 0 4px 6px 0; }
    #upload-resume-icon-button { margin-right: -$medium-margin; }

    #sign-up-button {
      color: $off-black;
      font-size: 1.5rem;
      margin-right: -$medium-margin;
    }
  }
}

// mobile view
@media (min-width: 0) {
  #greeting { display: inline-block; }

  #header {
    #header-title {
      #header-title-icon { margin: $medium-margin $small-margin $medium-margin $large-margin; }
      #header-title-text { display: none; }
    }
  }
}

@media (min-width: 0) and (max-width: 499px) {
  #greeting { display: none; }
}

// desktop view
@media (min-width: 850px) {
  #header {
    #sign-up-button,
    #greeting {
      @include hide-overflow-ellipsis;
      max-width: calc(100vw - 700px);
    }

    #upload-resume-icon-button,
    #auth-button { display: none; }

    #header-title {
      #header-title-icon { margin: 0 $small-margin $medium-margin 0; }
      #header-title-text { display: inline-block; }
    }
  }

  .header-icon-button { display: none; }
}
