@import 'global';

#home-page {
  background-image: url(/assets/images/home_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#main-search-form-container {
  @include centered-flex-box;
  background-color: rgba(84, 84, 84, 0.9);
  border-radius: 15px;
  flex-direction: column;
  max-width: 1000px;
  min-height: 30vh;
  margin: auto;
  margin-top: $extra-large-margin;
  padding: $medium-padding;
  row-gap: 10px;
  width: 90vw;
}

#search-form-name-and-logo {
  @include centered-flex-box;
  color: $primary-blue;

  img {
    margin-right: $medium-margin;
    width: 3rem;
  }
}

#switch-portals-prompt {
  @include centered-flex-box;
  button { margin: 0 $small-margin; }
}
