@import 'global';

#auth-modal {
  .gig-modal-content {
    background-color: $primary-blue;
    border-radius: 15px;
    color: $off-white;
    max-width: 1000px;
  }
}

.gig-modal-content.max-content-width {
  left: 0;
  right: 0;
  margin: auto;
  margin-right: calc(42vw - 350px);
  width: calc(96vw - 350px);
}

// mobile view
@media (min-width: 0) {
  #auth-modal {
    .gig-modal-content {
      left: 5vw;
      top: 8vh;
      width: 90vw;
    }
  }
}

// desktop view
@media (min-width: 850px) {
  #auth-modal {
    .gig-modal-content {
      left: 2vw;
      top: 10vh;
      width: 96vw;

      &.find {
        width: calc(96vw - 350px);
      }
    }

    .max-content-width {
      left: 0;
      right: 0;
      margin: auto;

      &.find {
        margin-right: calc(52vw - 350px);
      }
    }
  }
}
