@import 'global';

#upload-modal {
  .gig-modal-content {
    background-color: $primary-blue;
    border-radius: 15px;
    color: $off-white;

    .gig-modal-header {
      #upload-header-container {
        font-size: 1.75rem;
      }
    }

    .gig-modal-footer {
      .upload-modal-button {
        width: 150px;

        &:nth-child(1) {
          margin-right: $large-margin;
        }
      }
    }
  }
}
