@import 'global';

#gig-details-modal-content {
  .gig-modal-footer { padding: $large-padding $large-padding 0 $large-padding; };
}

#find-gig-details-modal-footer {
  #gig-details-modal-resume-selector-container {
    button {
      margin-right: 0;
      width: 100%;
    }
  }

  #action-buttons {
    button {
      padding: 7px $extra-large-padding;
      &:first-child { margin-right: $large-margin; }
    }
  }
}

@media (min-width: 0) and (max-width: 679px) {
  #find-gig-details-modal-footer {
    width: calc(92vw - 30px);

    #gig-details-modal-resume-selector-container {
      .message { padding-bottom: $medium-padding; }

      #active-resume-section {
        padding-top: 0;
        #active-resume-dropdown { width: 85vw; }
      }
    }

    #gig-details-modal-button-container {
      .message {
        margin-top: 0;
        padding-bottom: $medium-padding;
      }
    }

    .gig-details-modal-button {
      width: calc((100% - 15px) / 2);
    }
  }
}

@media (min-width: 680px) {
  #find-gig-details-modal-footer {
    @include centered-flex-box;
    width: 100%;

    #gig-details-modal-resume-selector-container {
      margin-right: auto;

      #active-resume-section {
        margin-bottom: $extra-large-margin;
        padding-top: 0;
        #active-resume-dropdown { width: 250px; }
      }
    }

    #action-buttons {
      margin: 0 0 $extra-large-margin $medium-margin;

      button {
        width: 150px;
        &:first-child { margin-right: $large-margin; }
      }
    }

    .message { margin-top: -20px; }
  }
}
