@import 'global';

.gig-modal {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  .gig-modal-content {
    border-radius: 15px;
    position: absolute;

    &.set-max-width {
      max-width: 1000px;

      &.maxed-content-width {
        left: 0;
        right: 0;
        margin: auto;
        margin-right: calc(42vw - 350px);
        width: calc(96vw - 350px);
      }
    }

    &.white {
      background-color: $white;
    }

    &.off-white {
      background-color: $off-white;
    }

    &.primary-blue {
      background-color: $primary-blue;
      color: $off-white;
    }

    .gig-modal-header {
      display: flex;
      justify-content: center;
      padding: $large-padding;
    }

    .gig-modal-body {
      padding: 0 $large-padding;
    }

    .gig-modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: $large-padding;

      button {
        margin-right: $large-margin;
        width: 150px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// mobile view
@media (min-width: 0) {
  .gig-modal {
    .gig-modal-content {
      left: 5vw;
      top: 8vh;
      width: 90vw;
    }
  }
}

// desktop view
@media (min-width: 850px) {
  .gig-modal {
    .gig-modal-content {
      left: 2vw;
      top: 10vh;
      width: calc(96vw - 350px);
      &.no-right-panel { width: 96vw; }

      &.maxed-content-width {
        left: 0;
        right: 0;
        margin: auto;
        &.right-panel { margin-right: calc(52vw - 350px); }
      }
    }
  }
}
