@import 'global';

.gig-modal {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  .gig-modal-content {
    border-radius: 5px;
    position: absolute;

    .gig-modal-header {
      display: flex;
      justify-content: center;
      padding: $large-padding;
    }

    .gig-modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: $large-padding;
    }
  }
}

// mobile view
@media (min-width: 0) {
  .gig-modal {
    .gig-modal-content {
      left: 5vw;
      top: 8vh;
      width: 90vw;
    }
  }
}

// desktop view
@media (min-width: 850px) {
  .gig-modal {
    .gig-modal-content {
      left: 2vw;
      top: 25vh;
      width: calc(96vw - 350px);
    }
  }
}
