@import 'global';

#mobile-panel-selector {
  display: flex;
  padding: 0 10px;

  button.text-gig-button {
    border-bottom: 3px solid transparent;

    &:nth-child(1) {
      margin-right: 10px;
    }

    &.active {
      border-bottom: 3px solid $primary-blue;
      color: $off-black !important;
    }
  }
}

// mobile view
@media (min-width: 0) {
  #mobile-panel-selector {
    display: flex;
    padding-top: 10px;
  }
}

// desktop view
@media (min-width: 850px) {
  #mobile-panel-selector {
    display: none;
  }
}
