@import 'global';

#gig-details-modal-details-panel {
  #job-type-details {
    width: 90px;
  }

  .gig-type-dropdown {
    border-radius: 5px;
    margin-top: $medium-margin;
    width: 100%;
  }
}
