@import 'global';

#favorite-gigs-panel {
  #favorite-gigs-panel-header {
    color: $off-white;
  }

  #favorite-gigs-panel-divider {
    color: $off-white;
    margin: $extra-small-margin;
  }

  #favorite-gigs-list {
    height: 52vh;
    flex: 1 1 auto;
    overflow: auto;
  }
}

// mobile view
@media (min-width: 0) {
  #favorite-gigs-panel-header,
  #favorite-gigs-panel-divider {
    display: none;
  }

  #no-favorite-gigs-message {
    color: $off-black;
    padding: $medium-padding;
  }
}

// desktop view
@media (min-width: 850px) {
  #favorite-gigs-panel {
    margin-top: $large-margin;

    #favorite-gigs-panel-header {
      display: block;
    }

    #no-favorite-gigs-message {
      color: $off-white;
      padding: $medium-padding 0;
    }
  }
}
