@import 'global';

#active-message-template-section {
  border-radius: $small-border-radius;
  color: $off-black;

  button.dropdown-toggle {
    margin: 0;
    width: 100%;
  }

  #active-message-template-header { @include vertically-centered-inline-flex-box; }

  #active-message-template-dropdown {
    background-color: $off-white;
    border-radius: $large-border-radius;
  }
}

// mobile view
@media (min-width: 0) {
  #active-message-template-section {
    margin-bottom: $medium-margin;
    width: 100%;
  }
}

// desktop view
@media (min-width: 1085px) {
  #active-message-template-section {
    margin: 0 $medium-margin 0 0;
    width: calc(100% - 480px);
  }
}
