@import 'global';

#active-message-template-section {
  border-radius: 5px;
  color: $off-black;

  button {
    margin: 0;
    width: 100%;
  }

  #active-message-template-header {
    align-items: center;
    display: inline-flex;
  }

  #active-message-template-dropdown {
    background-color: $off-white;
    border-radius: 15px;
  }
}

// mobile view
@media (min-width: 0) {
  #active-message-template-section {
    width: 100%;
  }
}

// desktop view
@media (min-width: 1085px) {
  #active-message-template-section {
    margin: 0 $medium-margin;
    width: calc(100% - 490px);
  }
}
