@import 'global';

.header-row {
  @include vertically-centered-inline-flex-box;
  margin: 0 $large-margin;

  .gig-item-job-title,
  .gig-item-employer,
  .gig-item-rating { @include hide-overflow-ellipsis; }
  .search-item-star { font-size: $header-font-size; }
}

.favorite-gig-button {
  margin-left: auto;
  padding: 0;

  .favorite-gig-button-wrapper {
    @include vertically-centered-inline-flex-box;
    .favorite-gig-button-icon { font-size: $large-header-font-size; }
  }
}
