@import 'global';

#upload-body-container {
  #file-upload-drop-zone,
  #drop-zone-dragging-hover {
    @include centered-flex-box;
    border: 2px dashed $off-black;
    border-radius: $medium-border-radius;
    justify-content: center;
    margin: 0;
    min-height: 35vh;
  }

  #file-upload-drop-zone {
    background-color: $off-white;
    #no-files-text { color: $off-black; }
  }

  #drop-zone-dragging-hover {
    background-color: $light-grey;

    #drag-over-display {
      @include centered-flex-box;
      color: $off-black;
      flex-direction: column;

      svg {
        color: $secondary-blue;
        font-size: $small-title-font-size;
      }
    }
  }
}

#document-drop-zone-input { display: none; }
