@import 'global';

#application-actions-container {
  #application-actions-button-container {
    @include centered-flex-box;

    button {
      margin-right: $medium-margin;
      &:last-child { margin-right: 0; }
    }
  }
}

// mobile view
@media (min-width: 0) {
  #application-actions-container {
    button { width: calc(33% - 5px); }
  }
}

// desktop view
@media (min-width: 1085px) {
  #application-actions-container {
    @include centered-flex-box;
    button { width: 150px; }
  }
}
