@import 'global';

#upload-files-list {
  min-height: 33vh;
  padding: 1vw;
  width: 100%;

  .upload-file {
    @include centered-flex-box;
    border-bottom: 1px solid $grey;
    color: $off-black;
    width: 100%;

    .upload-file-name { margin-left: $small-margin; }
    .upload-file-delete-button {  margin-left: auto; }
  }
}
