@import 'global';

.application-container {
  @include centered-flex-box;
  margin-bottom: $medium-margin;
  input { margin-right: $medium-margin; }
  &:last-child { margin-bottom: 0; }
}

.application {
  background-color: $off-white;
  border-radius: $small-border-radius;
  padding: $medium-padding $extra-large-padding;
  width: calc(100% - 36px);

  .application-footer {
    @include centered-flex-box;
    justify-content: center;
  }

  svg { font-size: $header-font-size; }
}
