@import 'global';

#gig-details-modal-review-panel {
  .employer-review-container {
    @include centered-flex-box;
    margin-bottom: $medium-margin;
    width: 100%;

    .rating-container {
      @include centered-flex-box;
      align-self: self-start;
      flex-direction: column;
      width: 20%;
      div { height: 30px; }
    }

    .details-container {
      width: 80%;

      .review-text { @include hide-overflow-ellipsis; }
      .summary { margin-top: $medium-margin; }

      .review-feedback-container {
        @include centered-flex-box;
        height: 30px;

        .review-feedback-counter {
          @include centered-flex-box;
          &:last-child { margin-left: $small-margin; }
        }

        .review-feedback {
          color: $grey;
          margin-right: $medium-margin;
        }

        .review-feedback-button {
          background-color: transparent !important;
          border: none;
          margin-bottom: $small-margin;
          padding: 0 $small-padding;
        }
      }
    }

    hr {
      color: $grey;
      width: 100%;
    }
  }
}

hr:last-child { display: none; }

// mobile view
@media (min-width: 0) {
  .rating-star { font-size: 0.5rem; }
}

// desktop view
@media (min-width: 525px) {
  .rating-star { font-size: 1rem; }
}
