@import 'global';

#gigs-panel {
  flex: 1 1 auto;
  height: 82vh;
  max-width: 96vw;
  overflow-y: auto;

  .posted-row { margin-bottom: $medium-margin; }
  .gig-item-views { @include hide-overflow-ellipsis; }

  .close-gig-button {
    @include centered-flex-box;
    div  { margin-right: $medium-margin; }
  }
}

@media (min-width: 0) and (max-width: 455px) {
  .close-gig-button > div { display: none; }
}

// desktop view
@media (min-width: 850px) {
  #gigs-panel { width: calc(96vw - 350px); }
}
