@import 'global';

.favorite-gig-item {
  background-color: $off-white;
  border-radius: 15px;
  padding: $large-padding;
  margin: $medium-margin 0;

  .favorite-gig-item-row {
    @include centered-flex-box;

    &:nth-child(2),
    &:nth-child(3) {
      padding-left: $small-padding;
    }

    &:nth-child(3) {
      padding-bottom: $medium-padding;
    }

    .remove-favorite-gig-button {
      background-color: transparent !important;
      border: none;
      color: $off-black !important;
      margin-left: auto;
      padding: $extra-small-padding;
    }
  }

  .footer {
    justify-content: center;

    .apply-now-button {
      padding: $small-padding $large-padding;
    }
  }
}
