@import 'global';

#gig-details-modal-header {
  width: 100%;

  #primary-header {
    @include centered-flex-box;
    margin-left: 0;
    width: 100%;

    #gig-details-title,
    #gig-details-employer { @include hide-overflow-ellipsis; }

    #gig-details-star-icon { font-size: $header-font-size; }

    #favorite-gig-button-container {
      margin-left: auto;
      #favorite-gig-button { font-size: $header-font-size; }
    }
  }
}

// tablet view
@media (min-width: 450px) {
  #gig-details-modal-header.create {
    #gig-details-title { font-size: 1.75rem; }
    #sub-header { font-size: $header-font-size; }
  }
}
