@import 'global';

#application-modal-header {
  align-items: flex-start;
  display: flex;
  width: 100%;

  #status-header-details {
    margin-left: auto;

    div {
      @include centered-flex-box;

      &:first-child {
        margin-right: $small-margin;
      }
    }
  }
}
