@import 'global';

#application-modal-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  .flex-row {
    @include centered-flex-box;
    div {
      &:first-child { margin-right: $small-margin; }
    }
  }
}
