@import 'global';

#create-login-prompt {
  @include centered-flex-box;
  flex-direction: column;

  #content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: calc(100% - 75px);
  }

  .logo-container {
    @include centered-flex-box;
    border-bottom: 2px solid $secondary-blue;
    justify-content: center;
    margin: 12vh 0 $large-margin 0;
    padding: $medium-padding;
    .gig-search-title { color: $primary-blue; }
  }

  .login-prompt-header {
    color: $primary-blue;
    margin: 0 auto;
    text-align: center;
    width: 65vw;
  }

  #login-prompt-sub-header {
    color: $off-black;
    margin: 0 auto;
    text-align: center;
    width: 35vw;
  }

  .auth-buttons {
    @include centered-flex-box;
    justify-content: center;
    margin-top: $large-margin;
    button {
      height: 40px;
      line-height: 22px;
    }
  }
}

#create-account-button { margin-right: $large-margin; }

// small mobile view
@media (min-width: 0) {
  #create-login-prompt {
    .logo-container {
      .gig-search-icon { height: 4vh; }
      .gig-search-title {
        font-size: 2.5rem;
        margin-left: $large-margin;
      }
    }

    .login-prompt-header { font-size: 1.5rem; }
    #login-prompt-sub-header { font-size: 1rem; }
  }
}

// mobile view
@media (min-width: 450px) {
  #create-login-prompt {
    .logo-container {
      .gig-search-icon { height: 6vh; }
      .gig-search-title {
        font-size: 4rem;
        margin-left: $large-margin;
      }
    }

    .login-prompt-header { font-size: 2rem; }
    #login-prompt-sub-header { font-size: 1rem; }
  }
}

@media (min-width: 0) and (orientation: landscape){
  #create-login-prompt {
    .logo-container {
      margin: 0;
      .gig-search-icon { height: 10vh; }
    }
  }
}

// desktop view
@media (min-width: 850px) {
  #create-login-prompt {
    .logo-container {
      .gig-search-icon { height: 10vh; }
      .gig-search-title {
        font-size: 6rem;
        margin-left: $large-margin;
      }
    }

    .login-prompt-header { font-size: 3.5rem; }
    #login-prompt-sub-header { font-size: 1.5rem; }
  }
}
