@import 'global';

.gig-modal-body-panel {
  min-height: 260px;

  .filter-options-list {
    max-height: 100px;
  }
}

.review-form-flex-container {
  @include centered-flex-box;
}

#review-form-title-input {
  width: calc(100% - 355px);
}

#review-form-city-input {
  margin-right: $medium-margin;
  width: calc(100% - 110px);
}

#review-form-summary-input {
  margin-top: $medium-margin;
}
