@import 'global';

#gig-details-modal-review-panel{
  min-height: 260px;
  .filter-options-list { max-height: 100px; }
  .gig-checkbox-container { margin-top: $medium-margin; }
}

.review-form-flex-container { @include centered-flex-box; }
#review-form-title-input { width: 100%; }
#review-form-summary-input { margin-top: $medium-margin; }

#review-form-city-input {
  margin-right: $medium-margin;
  width: 100%;
}
