@import 'global';

#find-gig-details-modal-body {
  #body-panel-selector-container { @include centered-flex-box; }
  .find-gig-modal-body-panel {
    border: 1px solid $light-grey;
    max-height: 45vh;
    overflow-y: auto;
    padding: $medium-padding;
  }
}
