@import 'global';

#search-filters {
  padding-top: $large-padding;

  .filter-button {
    margin: 0 $medium-margin $medium-margin 0;
    :last-child { margin-right: 0; }

    &.primary-blue {
      background-color: $primary-blue;
      border-color: $primary-blue;
    }

    &.secondary-blue {
      background-color: $secondary-blue;
      border-color: $secondary-blue;
    }
  }
}

// mobile view
@media (min-width: 0) {
  #center-panel-filters {
    margin: $medium-margin;
    #search-filters { padding-top: $large-padding; }
  }
}
