@import 'global';

#search-filters {
  padding-top: $large-padding;

  .filter-button {
    margin-right: $medium-margin;
    margin-bottom: $large-margin;

    :last-child {
      margin-right: 0;
    }
  }
}

#center-panel-filters {
  margin: $medium-margin;

  #search-filters {
    margin: 0 $medium-margin;
    padding-top: $large-padding;

    .filter-button {
      background-color: $primary-blue;
      border-color: $primary-blue;
    }
  }
}

#right-panel-filters {
  #filter-panel-text-input {
    margin: 0;
    width: 100%;
  }

  .filter-button {
    background-color: $secondary-blue;
    border-color: $secondary-blue;
  }
}

// mobile view
@media (min-width: 0) {
  #center-panel-filters {
    display: block;
  }
}

// desktop view
@media (min-width: 850px) {
  #center-panel-filters {
    display: none;
  }
}

