@import 'global';

.star-rating-container {
  width: 100%;

  .rating-star {
    background-color: transparent;
    color: $off-white;
    font-size: $header-font-size;
    padding: 0;

    &.filled {
      color: $mood-yellow;
    }
  }
}
