@import 'global';

#favorite-gigs-panel {
  padding: $medium-padding;

  #favorite-gigs-list {
    flex: 1 1 auto;
    overflow: auto;
  }

  .panel-divider {
    color: $grey;
    margin: $medium-margin 0;
    width: 100%;
  }
}

// mobile view
@media (min-width: 0) {
  #no-favorite-gigs-message {
    color: $off-black;
  }
}

// desktop view
@media (min-width: 850px) {
  #favorite-gigs-panel {
    #no-favorite-gigs-message {
      color: $off-white;
    }
  }
}
