@import 'global';

#gig-details-modal-footer {
  #resume-application-message,
  #gig-application-message {
    &.primary-red { color: $primary-red; }
    &.transparent { color: transparent !important; }
  }

  #action-buttons {
    margin-left: auto;
    button { padding: 7px $extra-large-padding; }
  }
}

@media (min-width: 0) and (max-width: 679px) {
  #gig-details-modal-footer {
    width: calc(92vw - 30px);

    #gig-details-modal-resume-selector-container {
      #resume-application-message { padding-bottom: $medium-padding; }

      #active-resume-section {
        padding-top: 0;
        #active-resume-dropdown { margin-bottom: $medium-margin; }
        #active-resume-dropdown { width: 85vw; }
      }
    }

    #gig-details-modal-button-container {
      width: 104%;
      #gig-application-message { padding-bottom: $medium-padding; }
    }

    #gig-application-message { margin-top: 0; }
    #gig-details-modal-cancel-button { margin-right: $medium-margin; }
    .gig-details-modal-button { width: calc((100% - 15px) / 2); }
  }
}

@media (min-width: 680px) {
  #gig-details-modal-footer {
    @include centered-flex-box;
    width: 100%;

    #gig-details-modal-resume-selector-container {
      margin-right: auto;

      #active-resume-section {
        padding-top: 0;
        #active-resume-dropdown { width: 250px; }
      }
    }

    #gig-application-message { margin-top: -20px; }
    #gig-details-modal-cancel-button { margin-right: $large-margin; }
    .gig-details-modal-button { width: 150px; }
  }
}
