@import 'global';

#center-panel {
  margin: 0 3%;
}

#center-panel-selector {
  border-bottom: 1px solid $light-grey;
  display: flex;
  padding: 0 $medium-padding;
}

// mobile view
@media (min-width: 0) {
  #center-panel-selector {
    display: flex;
    padding-top: $medium-padding;
  }
}

// desktop view
@media (min-width: 850px) {
  #center-panel-selector {
    display: none;
  }
}
