@import 'global';

#demo-warning {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  height: 45px;
  padding: $small-padding;
  width: 100vw;

  .icon {
    color: $dark-grey;
    font-size: 35px;
    margin-right: $small-margin;
  }

  .header-text {
    color: $primary-red;
    margin: 0;
  }
}
