@import 'global';

#action-button-wrapper {
  min-height: 110px;

  #right-panel-action-buttons {
    @include centered-flex-box;
    margin-bottom: $large-margin;
    button {
      width: 50%;
      &:first-child { margin-right: $large-margin; }
    }
  }
}
