$paragraph-font-family: 'Roboto', sans-serif;
$header-font-family: 'Poppins', sans-serif;
$large-title-font-size: 3.5rem;
$title-font-size: 2.5rem;
$header-font-size: 1.75rem;
$sub-header-font-size: 1.5rem;
$paragraph-font-size: 1.25rem;
$small-phone-font-size: 15px;
$large-phone-font-size: 20px;
$tablet-font-size: 25px;
$laptop-font-size: 25px;
$monitor-font-size: 30px;
