$paragraph-font-family: 'Roboto', sans-serif;
$header-font-family: 'Poppins', sans-serif;
$title-font-size: 2.5em;
$header-font-size: 1.5em;
$sub-header-font-size: 1.25em;
$paragraph-font-size: 0.75em;
$small-phone-font-size: 15px;
$large-phone-font-size: 20px;
$tablet-font-size: 25px;
$laptop-font-size: 25px;
$monitor-font-size: 30px;
