$header-font-family: Poppins, sans-serif;
$sub-header-font-family: Lato, sans-serif;
$paragraph-font-family: Roboto, sans-serif;
$large-title-font-size: 3.5rem;
$title-font-size: 2.5rem;
$header-font-size: 1.25rem;
$sub-header-font-size: 1rem;
$paragraph-font-size: 0.85rem;
$small-paragraph-font-size: 0.5rem;
$small-phone-font-size: 15px;
$large-phone-font-size: 20px;
$tablet-font-size: 25px;
$laptop-font-size: 25px;
$monitor-font-size: 30px;
