@import 'global';

#alert-modal {
  .gig-modal-header {
    background-color: $primary-blue;
    border-radius: $large-border-radius $large-border-radius 0 0;

    #alert-header-container {
      @include centered-flex-box;
      margin-right: auto;

      svg {
        color: $off-white;
        margin-right: $medium-margin;
      }

      div { color: $off-white; }
    }
  }

  .gig-modal-body { padding: $large-padding; }
}
