@import 'global';

#active-resume-section {
  color: $off-white;
  padding-top: 25px;

  #active-resume-header {
    align-items: center;
    display: inline-flex;
  }

  #active-resume-dropdown {
    background: $off-white;
  }
}
