@import 'global';

.application-body {
  margin-bottom: $medium-margin;

  .application-detail-flex-container {
    align-items: center;
    display: flex;

    div {
      &:first-child {
        margin-right: $small-margin;
      }
    }
  }
}
