@import 'global';

.application-body {
  margin-bottom: $medium-margin;

  .application-detail-flex-container {
    @include centered-flex-box;

    div {
      &:first-child {  margin-right: $small-margin; }
    }
  }

  .baseline-aligned { align-self: baseline; }
}
