@import 'global';

.search-item {
  display: flex;
  flex-direction: column;
  padding: $medium-padding;

  .sub-header-row,
  .requirements-row,
  .posted-row {
    margin: 0 $large-margin;
  }

  .sub-header-row,
  .posted-row {
    color: $medium-grey;
  }

  .requirements-row {
    padding: $small-padding 0;

    .job-requirements-list {
      margin-bottom: 0;
    }
  }
}
