@import 'global';

.gig-modal-body {
  #auth-selector-container {
    display: flex;
    button:first-child { margin-right: $extra-large-margin; }
  }

  hr {
    color: $white;
    margin: 0;
    width: 100%;
  }

  #auth-form-container {
    .auth-modal-input-container {
      margin: $medium-margin 0;
      width: 100%;
    }
  }

  .auth-modal-input-container {
    display: flex;

    .auth-input {
      margin-left: $large-margin;
      width: 100%;
    }

    #password-hide-button {
      color: $grey;
      line-height: 28px;
      margin-top: 4px;
      position: absolute;
      right: 35px;
    }
  }

  #auth-form-error {
    color: $primary-red;
    text-align: center;
  }

  .valid-icon { color: $primary-green; }
}
