@import 'global';

.gig-modal-body {
  #auth-selector-container {
    display: flex;
    padding: 0 $extra-large-padding;

    #applicant-selector-button {
      margin-right: $extra-large-margin + 5px;
    }
  }

  #auth-selector-divider {
    color: white;
    margin: 0 2%;
    width: 96%;
  }

  #auth-form-container {
    padding: $large-padding $large-padding 0 $large-padding;

    .auth-modal-input-container {
      margin: $medium-margin 0;
      width: 100%;
    }
  }

  .auth-modal-input-container {
    display: flex;

    .auth-input {
      margin-left: $large-margin;
      width: 100%;
    }

    #password-hide-button {
      color: $grey;
      margin-top: 4px;
      position: absolute;
    }
  }

  #auth-modal-cancel-button {
    margin-right: $large-margin;
  }

  #auth-form-error {
    color: $primary-red;
    text-align: center;
  }
}

#auth-body-container {
  &.find {
    #password-hide-button {
      right: 30px;
    }
  }

  &.create {
    #password-hide-button {
      right: 60px;
    }
  }
}

.valid-icon {
  color: $primary-green;
}
