@import 'global';

.gig-form-input {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: $paragraph-font-family;
  outline: none;
  padding: 0.375rem 0.75rem;
  width: 100%;
}
