@import 'global';

.gig-form-input {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: $font-family;
  outline: none;
  padding: 10px;
  width: 100%;
}

// old mobile
@media (min-width: 0) {
  .gig-form-input {
    font-size: $paragraph-font-size-small-phone - 5px;
    height: ($paragraph-font-size-small-phone - 5px) + 10px;
  }
}

// mobile
@media (min-width: 350px) {
  .gig-form-input {
    font-size: $paragraph-font-size-large-phone - 5px;
    height: ($paragraph-font-size-large-phone - 5px) + 10px;
  }
}

// tablet
@media (min-width: 750px) {
  .gig-form-input {
    font-size: $paragraph-font-size-tablet - 5px;
    height: ($paragraph-font-size-tablet - 5px) + 10px;
  }
}

// laptop
@media (min-width: 1024px) {
  .gig-form-input {
    font-size: $paragraph-font-size-laptop - 5px;
    height: ($paragraph-font-size-laptop - 5px) + 10px;
  }
}

// monitor
@media (min-width: 1600px) {
  .gig-form-input {
    font-size: $paragraph-font-size-monitor - 5px;
    height: ($paragraph-font-size-monitor - 5px) + 10px;
  }
}
