@import 'global';

.collapsable-section {
  .collapsable-section-header {
    @include centered-flex-box;
    margin: $medium-margin;

    div {
      display: inline-block;

      &:last-child {
        margin-left: auto;
      }
    }
  }

  .collapsable-section-divider {
    margin: auto;
  }

  &.off-white {
    .collapsable-section-header {
      color: $off-white;
    }

    .collapsable-section-divider {
      color: $off-white;
    }
  }
}
