@import 'global';

#active-resume-section {
  color: $off-white;

  &.with-header {
    padding-top: $extra-large-padding + 5px;

    #active-resume-header {
      color: $off-white;
    }
  }

  &.without-header {
    #active-resume-header {
      color: $off-black;
    }
  }

  #active-resume-header {
    @include vertically-centered-inline-flex-box;
  }

  #active-resume-dropdown {
    background-color: $off-white;
  }
}
