@import 'global';

#applications-panel {
  #applications-panel-gig-filter { margin-top: $medium-margin; }

  .applications-panel-divider {
    color: $grey;
    margin: $medium-margin 0;
    width: 100%;
  }

  #applications-list { overflow-y: auto; }
}

// mobile view
@media (min-width: 0) {
  #applications-list { height: calc(100vh - 305px); }
}

// desktop view
@media (min-width: 1085px) {
  #applications-list { height: calc(100vh - 270px); }
}

