@import 'global';

#main-search-form-container {
  align-items: center;
  background-color: rgba(84, 84, 84, 0.9);
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  min-height: 30vh;
  margin: 15vh 10vw;
  padding: 20px;
  row-gap: 10px;
  width: 80vw;

  #search-form-tag-line,
  #search-form-switch-portal {
    color: $off-white;
    text-align: center;
  }
}

#search-form-name-and-logo {
  align-items: center;
  color: $primary-blue;
  display: inline-flex;
  font-family: $header-font-family;
  font-weight: 800;

  img {
    margin-right: 10px;
    width: 3rem;
  }
}

.search-form-input {
  align-self: stretch;

  input,
  .gig-dropdown > button,
  .gig-dropdown > .gig-dropdown-menu {
    margin: 0 10%;
    width: 80%;
  }
}

#search-form-submit {
  button {
    background: $primary-blue;
    color: #FFFFFF;
  }
}

// tablet
@media (min-width: 750px) {
  #main-search-form-container {
    margin: 15vh 15vw;
    width: 70vw;
  }
}

// monitor
@media (min-width: 1600px) {
  #main-search-form-container {
    margin: 15vh 30vw;
    width: 40vw;
  }
}
