@import 'global';

#search-results {
  flex: 1 1 auto;
  height: 10vh;
  max-width: 96vw;
  overflow-y: auto;

  .search-item {
    border-bottom: 1px solid $light-grey;
    padding-bottom: $large-padding;

    &:last-child{
      border: 0;
    }
  }

  #no-search-results {
    padding-top: 20vh;
    text-align: center;
  }
}

// desktop view
@media (min-width: 850px) {
  #search-results {
    width: calc(96vw - 350px);
  }
}
