@import 'global';

#search-results {
  border-top: 1px solid $light-grey;
  height: 80vh;
  overflow-y: auto;

  .search-item {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 15px;

    &:last-child{
        border: 0;
    }
  }
}
