@import 'global';

#right-panel {
  background-color: #083F89;
  padding: $large-padding;

  #employer-sign-out-button {
    width: 100%;
  }

  #gig-creation-section,
  #message-template-section {
    .collapsable-section-header {
      font-size: $header-font-size;

      .collapsable-section-title {
        svg {
          font-size: $large-header-font-size;
        }
      }
    }
  }

  #message-template-section {
    padding-bottom: $extra-large-padding + 5px;
  }
}
