@import 'global';

#search-panel {
  width: 90%;

  .search-panel-input {
    align-self: stretch;
    padding-bottom: $medium-padding;

    input,
    .gig-dropdown > button,
    .gig-dropdown > .gig-dropdown-menu {
      margin: 0 10%;
      width: 80%;
    }
  }
}

.find {
  input {
    background-color: $off-white !important;
  }
}

.search-panel-item.mobile {
  &:not(:last-child) {
    padding-bottom: $medium-padding;
  }
}

.search-panel-item.desktop {
  &:last-child {
    padding-top: $small-padding;
  }
}

// mobile view
@media (min-width: 0) {
  #find-search-panel {
    display: flex;
    flex-direction: column;
    margin: $medium-margin;

    search-panel-item {
      width: 100%;
    }
  }
}

// desktop view
@media (min-width: 850px) {
  #find-search-panel {
    display: flex;
    flex-direction: row;
    margin: $medium-margin;

    div {
      width: 100%;

      &:not(:last-child) {
        padding-right: $medium-padding;
      }
    }
  }
}

