@import 'global';

.gig-dropdown {
  align-items: center;
  display: flex;

  button {
    align-items: center;
    background-color: white !important;
    border: none;
    border-radius: 5px;
    box-shadow: none !important;
    box-sizing: border-box;
    color: black !important;
    display: flex;
    text-align: left;
    width: 100%;

    &::after {
      display: none;
    }

    .placeholder-text {
      color: #767676 !important;
    }
  }

  .gig-dropdown-menu {
    padding: 2px 0;
    width: 100%;
  }
}

.gig-dropdown-item {
  @include hide-overflow-ellipsis;
  color: $off-black;
  width: 100%;

  &:hover {
    background-color: $off-white;
  }

  &:active {
    color: $off-black;
    background-color: $light-grey !important;
  }

  &:focus {
    color: $off-black;
    background-color: $light-grey !important;
  }
}

.gig-dropdown-content-wrapper {
  align-content: center;
  display: inline-flex;
  height: 25px;
  width: 100%;

  .gig-dropdown-text {
    @include hide-overflow-ellipsis;
    max-width: 85%;
    padding: 0;
  }

  .gig-dropdown-icon {
    color: $grey;
    font-size: 25px;
    margin-left: auto;
  }
}

.gig-dropdown.off-white-gig-dropdown > button,
.gig-dropdown.off-white-gig-dropdown > .gig-dropdown-menu {
  background: $off-white !important;
}

.gig-dropdown.off-white-gig-dropdown > .gig-dropdown-menu {
  .gig-dropdown-item {
    &:hover,
    &:active,
    &:focus {
      background-color: $secondary-blue !important;
      color: white;
    }
  }
}
