@import 'global';

.gig-dropdown {
  @include centered-flex-box;
  border-radius: 15px;

  button {
    @include centered-flex-box;
    background-color: $off-white !important;
    border: none;
    border-radius: 5px;
    box-shadow: none !important;
    box-sizing: border-box;
    color: black !important;
    padding: 0.375rem 0.75rem;
    text-align: left;
    width: 100%;

    &::after { display: none; }
    .placeholder-text { color: #767676 !important; }
  }

  .gig-dropdown-menu {
    background-color: $off-white;
    max-height: 150px;
    overflow-y: auto;
    padding: $extra-small-padding 0;
    width: 100%;
  }

  &.white {
    button { background-color: $white !important; }
    .gig-dropdown-menu {
      background-color: $white;
      &:hover { background-color: $white; }
    }
  }
}

.gig-dropdown-item {
  @include hide-overflow-ellipsis;
  color: $off-black;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    background-color: $secondary-blue !important;
    color: $off-white;
  }
}

.gig-dropdown-button-content {
  align-content: center;
  display: inline-flex;
  height: 25px;
  width: 100%;

  div {
    @include hide-overflow-ellipsis;
    max-width: 85%;
    padding: 0;
  }

  svg {
    color: $grey;
    font-size: 25px;
    margin-left: auto;
  }
}
