@import 'global';

#gig-details-modal-body {
  #body-panel-selector-container {
    display: flex;
  }

  .gig-modal-body-panel {
    border: 1px solid $light-grey;
    max-height: 50vh;
    overflow-y: auto;
    padding: $medium-padding;
  }
}
