@import 'global';

#gig-creation-panel {
  &.center-panel { max-height: calc(100vh - 195px); }
  margin: $large-margin 0;
  overflow-y: auto;

  .detail-row-flex-container {
    margin-bottom: $large-margin;
    width: 100%;
  }

  .detail-row-container {
    margin-bottom: $large-margin;
    &:last-child { margin-bottom: 0; }
  }

  #benefits-list {
    button {
      background-color: $secondary-blue;
    }
  }

  .gig-detail-title { display: none; }
  .gig-details-input { background-color: $off-white; }
}
